#about {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: left;
  overflow-y: hidden;
}

#about p {
  text-align: justify;
}

#aboutText>p,
.accordionItemOpen {
  font-size: 15pt;
}

.accordionItemClosed {
  font-size: 20pt;
  font-weight: 1000;
}

#aboutText {
  padding: 2vh 7.5vw 2vh 5vw;
  flex: 0 0 50%;
}

#accordion {
  padding: 5vh 5vw 5vh 7.5vw;
  flex: 0 0 50%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 0;
}

#accordion::-webkit-scrollbar {
  display: none;
}

#aboutText>h1 {
  font-size: 72pt;
}

#accordion,
.accordionItem,
.accordionItemMarkline {
  display: flex;
  flex-flow: column nowrap;
}

.accordionItemClosed,
.accordionItemOpen {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw
}

.accordionItemMarkline {
  flex: 0 0 40px;
}

.accordionItem>button {
  padding: 0;
}

.icon {
  flex: 0 0 40px;
  will-change: transform;
  transition: transform 0.25s linear;
}

.line {
  width: 4px;
  height: 1px;
  margin: auto;
  flex: 1 1 auto;
}

.accordionItemOpen {
  will-change: height;
  transition: height 0.25s linear;
}

.accordionItemClosed>p {
  padding: 10pt 0;
}

.accordionItemOpen>p {
  padding: 0 0 25pt;
}