#home {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

#intro {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  font-size: 72pt;
  padding: 0 0 0 10vw;
}

#main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

#text {
  flex: .8 .8 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#hello {
  line-height: 1;
}

#ctaButtons {
  flex: .2 .2 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5vw
}

#ctaButtons>a {
  display: contents;
}

#lineAkash {
  display: flex;
  flex-flow: row nowrap;
}

#lineAkash>svg {
  height: 1px;
  width: 13vw;
  align-self: flex-end;
  margin-left: -10vw;
  margin-right: -11pt;
}

#akash {
  font-size: 73.5pt;
  line-height: 57pt;
}

#resume,
#hire {
  border: solid 5px var(--accent-color);
  border-radius: none;
  font-size: 30pt;
  box-shadow: 0 0 10px 0 var(--accent-color);
  padding: 0 2vw;
  cursor: pointer;
  background: linear-gradient(to right, #192f2b 0%, #192f2b 50%, var(--accent-color) 50%, var(--accent-color) 100%);
  background-size: 200%;
  background-position: left;
  will-change: background-position;
  will-change: color;
  transition: background-position 250ms ease-in-out, color 250ms ease-in;
}

#resume:hover,
#hire:hover {
  transition: background-position 250ms ease-in-out, color 250ms ease-in;
  background-position: right;
  color: #192f2b;
}

#skillsContainer {
  background-color: #0f1a1e;
  overflow-x: hidden;
  padding: 2vh 0;
}

#skills {
  display: flex;
  gap: 100px;
  will-change: transform;
  animation: slide 20s linear infinite;
}

#skills:hover {
  animation-play-state: paused;
}

#skills>svg {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  color: var(--font-color);
}

@keyframes slide {
  to {
    transform: translateX(-5200px);
  }
}

#profilePic>img {
  width: 720px;
  height: 720px;
  object-fit: cover;
  overflow: hidden;
}