#projects {
  padding: 2vh 10vw 0;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: 0;
}

#projects::-webkit-scrollbar {
  display: none;
}

#projects>h1 {
  font-size: 72pt;
}

.project {
  padding-bottom: 2vh;
  font-size: 15pt
}

.projectHeader {
  color: var(--accent-color);
  font-size: 20pt;
}

.projectDescription {
  padding: 0 10vw 0;
}