@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lalezar&display=swap');

.fontColor {
  color: var(--font-color);
}

.accentColor {
  color: var(--accent-color);
}

.jura {
  font-family: "jura", sans-serif;
}

.lalezar {
  font-family: "lalezar", sans-serif;
}

body {
  background-color: #192f2b;
  --font-color: #fae7c9;
  --accent-color: #99c68c;
  font-family: "jura", "sans-serif";
  color: var(--font-color);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

#appNavBar {
  display: flex;
  flex-direction: row;
  padding: 2vh 5vw;
  gap: 2vw;
}

#appNavBar>button {
  font-size: 22.5pt;
}

#appNavBar>button:first-of-type {
  font-size: 30pt;
  flex: 1 1 auto;
  text-align: left;
}

button {
  background-color: inherit;
  border: none;
}